<div class="ml-1 col-sm-12 p-3" id="header">
  <div id="path">
    <div *ngFor="let pathSegment of parsedPath.segments; index as i">
      <a
        class="path-link"
        [class.text-dark]="i === parsedPath.segments.length - 1"
        [class.fw-bold]="i === parsedPath.segments.length - 1"
        [class.text-muted]="i !== parsedPath.segments.length - 1"
        (click)="onPathReselect(i)">
        {{ pathSegment }}</a>{{ i < parsedPath.segments.length - 1 ? '/' : '' }}</div>
  </div>

  <div id="menu-box">
    <div class="file-upload">
      <label for="upload-file">
        <i class="fa fa-arrow-up"></i> Upload
      </label>
      <input
        type="file"
        (change)="onUploadFile($event)"
        id="upload-file"
        name="upload-file"
        hidden/>
    </div>
    <button
      mat-button
      class="btn btn-default"
      (click)="onAddNew()">
      <app-icon
        name="plus"
        id="add-new">
      </app-icon>
      <span>Add new</span>
    </button>
    <button
      mat-button
      class="btn btn-default"
      (click)="onToggleViewType()">
      <app-icon [name]="viewType"></app-icon>
    </button>
    <app-user-menu [userName]="userName"></app-user-menu>
  </div>
</div>
