#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  #path {
    display: flex;
    flex-direction: row;

    .path-link {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  #menu-box {
    display: flex;
    align-items: center;

    button {
      padding: 0.5rem;
      border: none;
      margin: 0 0.5rem;
      display: flex;
      align-items: center;

      #add-new {
        margin-right: 0.5rem;
      }
    }
  }
}

#sidebar-button-container {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust margin as needed */
}
