.sign-up-web1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.sign-up-web1-sign-up-web {
  gap: 40px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 31.760717391967773px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 0.20000000298023224);
  border-style: solid;
  border-width: 17.342233657836914px;
  border-radius: 15.880358695983887px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-web1-frame3 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-web1-text {
  color: rgba(18, 20, 26, 1);
  height: auto;
  font-size: 23px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-web1-div {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.sign-up-web1-frame6 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-web1-frame5 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-web1-div1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-web1-text02 {
  color: rgba(96, 103, 120, 1);
  width: 64px;
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-web1-div2 {
  gap: 10px;
  display: flex;
  padding: 12px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(202, 208, 219, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-web1-text04 {
  color: rgba(123, 132, 153, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-web1-div3 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-web1-text06 {
  color: rgba(96, 103, 120, 1);
  width: 56px;
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-web1-div4 {
  gap: 10px;
  display: flex;
  padding: 12px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(202, 208, 219, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-web1-text08 {
  color: rgba(123, 132, 153, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-web1-span {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-web1-text10 {
  color: rgba(123, 132, 153, 1);
  height: auto;
  flex-grow: 1;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-web1-text11 {
  color: rgba(123, 132, 153, 1);
  text-decoration: NONE;
}
.sign-up-web1-text12 {
  color: rgba(18, 20, 26, 1);
  text-decoration: UNDERLINE;
}
.sign-up-web1-text13 {
  color: rgba(123, 132, 153, 1);
  text-decoration: NONE;
}
.sign-up-web1-text14 {
  color: rgba(18, 20, 26, 1);
  text-decoration: UNDERLINE;
}
.sign-up-web1-div5 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.sign-up-web1-button {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  border-radius: 4px;
  background-color: rgba(32, 86, 250, 1);
}
.sign-up-web1-text15 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-web1-span1 {
  display: flex;
  align-items: flex-start;
}
.sign-up-web1-text17 {
  color: rgba(123, 132, 153, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-web1-text18 {
  color: rgba(123, 132, 153, 1);
  text-decoration: NONE;
}
