.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.default-link {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.register-hint {
  color: darkgrey;
}

button.submit {
  border-radius: 5%;
  margin: 1em 0;
}
