
.sidebar {
  width: 50px; 
  background-color: rgba(255, 255, 255);
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.3s ease;
}

.sidebar.expanded {
  width: 280px; 
}

.sidebar-trigger {
  background-color: transparent;
  cursor: pointer;
  border: none;
  user-select: none;
  min-height: 36px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: padding 0.3s ease;

  &:hover {
    background-color: rgb(208, 208, 208);
  }

  &:active {
    background-color: rgb(170, 170, 170);
  }
}

.sidebar-trigger .icon {
  font-size: 24px; 
}

.sidebar.expanded .sidebar-trigger {
  padding: 0 16px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
}

.sidebar-menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;
  user-select: none;
  min-height: 36px;
  line-height: 36px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  flex: 1;

  &:hover {
    background-color: rgb(208, 208, 208);
  }

  &:active {
    background-color: rgb(170, 170, 170);
  }
}
