<div class="sidebar-button-container">
  <button (click)="toggleSidebar()" class="sidebar-trigger">
    <span *ngIf="!isSidebarExpanded" class="icon">&#9776;</span>
    <span *ngIf="isSidebarExpanded" class="fw-bolder">{{ userName }}</span>
  </button>
</div>

<aside class="sidebar" [ngClass]="{ 'expanded': isSidebarExpanded }">
  <ng-container *ngIf="isSidebarExpanded; else menuPlaceholder">
    <div class="sidebar-menu">
      <button class="sidebar-menu-item" (click)="closeSidebar()">Close</button>
      <button class="sidebar-menu-item" (click)="openSettings()">Settings</button>
      <button class="sidebar-menu-item" (click)="openHelp()">Help</button>
      <button class="sidebar-menu-item" (click)="signOut()">Sign out</button>
    </div>
  </ng-container>
  <ng-template #menuPlaceholder></ng-template>
</aside>
